@import url(./colors.css);
@import url(./layout.css);

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hp-nav {}

nav.hp-nav>ul {
    display: none;
}

#logo {
    background-image: url(../assets/images/logo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 50%;
    z-index: 1;
}

.hp-hero {
    background-image: url(../assets/images/hero-img-2.jpeg);
    background-size: cover;
    background-position: center;

    /* background-clip: text;-webkit-background-clip: text;color: transparent; */
}

.hp-hero h2 {
    font-size: 74px;
    line-height: 74px;
    font-weight: 400;
    letter-spacing: -0.05em;
}

.hp-hero h3 {
    line-height: 24px;
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}


.login-btn {
    font-size: 12px;
    border: none;
    padding: .8em;
    border-radius: 1.5em;
    letter-spacing: .1em;
    border-radius: 64px;
    background: #000;
    color: white;
    font-weight: 800;
}

.login-btn:hover {
    cursor: pointer;
}

.blog-posts {
    color: white

}

footer {
    text-align: center;
}

.blog-posts{
    background-color: white;
    padding: 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.post-card {
    color: black;
    border-bottom: black solid 1px;
    margin-top: 2em ;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.post-card:hover {
    cursor: pointer;
}

.author-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
}

.author-details h4{
    padding: 0px 10px;
    margin: 0px;
}

.post-card h2 {
    padding: 0.5em 0;
    margin: 0px;
}

.post-footer p {
    margin: 0;
    padding: 0.5em 0;
}